*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins';
}
.form_container{
    background-image: url(./team.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: overlay;
   background-color:rgba(0, 0, 0, 0.637);
   display: flex;
   align-items: center;
   justify-content: baseline;

   flex-direction: column;

}
form{
    background-color: rgba(255, 255, 255, 0.2  );
    width: 35%;
    margin-top: 50px;
    height: 90vh;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
h1{
    margin-top: 20px;
    color: white  ;
    
}
.user{
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}
p{
    margin-top: 10px;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.pp{
    text-align: start;
    margin-left: 50px;
}
button{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.685),rgb(11, 12, 12));
    width: 70%;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    
}
a{
    color: white;
    text-decoration: underline;
}
.error{
    color: orange;
    font-size: 20px;
  
}
@media (max-width:768px) {
    .form_container{
        background-image: url(./team.jpg);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-blend-mode: overlay;
       background-color:rgba(0, 0, 0, 0.637);
       display: flex;
       align-items: center;
       justify-content: baseline;
    
       flex-direction: column;
      
    
    }
    form{
        background-color: rgba(255, 255, 255, 0.2  );
        width: 40%;
        margin-top: 200px;
        height: 50vh;
        text-align: center;
        border-radius: 10px;
        backdrop-filter: blur(10px);
    }

    
}